# Dependencies
**/node_modules/

frontend/

id_ed25519
id_ed25519.pub

ui/.next/
ui/node_modules/

# Backend
backend/dist/
backend/build/

# Environment
**/.env
**/.env.*
!**/.env.example

# Logs
**/*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
**/*.tsbuildinfo

# Coverage
**/coverage/